{% extends "base.html" %}
{% block content %}
    Docker
    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">

        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

            <title>This is {{ 'Yoshis' }} Website</title>
        {% endblock %}
        <style>
            {
                box-sizing: border-box
            ;
            }
            /* Set additional styling options for the columns*/
            .column {
                float: left;
                width: 50%;
            }

            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
    </head>
    <body>
    <div class="row">
        <div class="column" style="background-color:#FFB695;">
            <h2>Docker Explanations</h2>
            <p>
                Containers
            </p>
            <p>
                A container is an abstraction in the app layer which package code and some dependencies together.
                Containers take up little space in comparison to the virtual machine technologies. Furthermore, multiple
                containers can run on the same machine. They all run on the same OS kernel. Each container runs as an
                isolated process in the user space.
            </p>
            <p>
                Image
            </p>
            <p>
                A docker image is a file that is created in the coding environment. Once the coding is created, the
                docker image file is executed in a Docker container. They behave as the starting point when using
                Docker. The images have multiple layers and each one is built from the previous layer.
            </p>
            <p>
                Linking a project repository on docker hub
            </p>
            <p>
                One can link a project repository on docker hub by creating docker-compose.yml file and a regular docker
                file. The following code can be used to create a local container.

                <br>Docker-compose.yml file:
                <br>version: "3.2"
                <br>services:
                <br>flask:
                <br>build: .
                <br>restart: always
                <br>ports:
                <br>- 80:5000
                <br>stdin_open: true # docker run -i
                <br>tty: true # docker run -t
                <br>command: ["flask", "run"]
                <br>volumes:
                <br>- .:/home/myuser
                <br><br>Dockerfile
                <br>FROM python:3.8-buster
<br>COPY requirements.txt .
<br>ENV FLASK_APP=app
<br>ENV PORT=5000
<br>ENV FLASK_RUN_HOST=0.0.0.0
<br>ENV FLASK_ENV=development
<br>ENV PATH="/home/myuser/.local/bin:${PATH}"
<br>RUN apt-get update &&\
    <br>/usr/local/bin/python3 -m pip install --upgrade pip &&\
    <br>/usr/local/bin/python3 -m pip install --upgrade setuptools &&\
    <br>/usr/local/bin/python3 -m pip install -r requirements.txt &&\
    <br>adduser myuser
<br>WORKDIR /home/myuser
<br>COPY --chown=myuser:myuser . .
<br>CMD gunicorn -w 4 --bind 0.0.0.0:$PORT "app:create_app()"
            </p>
            <p>
                Docker Commands
            </p>
            <p>
                <br>docker search
                <br>docker pull
                <br>docker images
                <br>docker run
                <br>docker ps
                <br>docker stop
                <br>docker restart
                <br>-- docker compose
            </p>
            <p>
                Repositories
            </p>
            <p>
                A Git Repository is known as the .git/folder for a project. The repository is what tracks all the
                changes made
                in a project. A coder must work on a branch, merge the branch to the main branch if they wish and then
                commit
                the work. Once work is committed, they can push the work into the repository. Many times, coders will
                commit and
                push a branch they are working on and check if the code in the repository is working correctly. Once
                they
                confirm the code is working in the repository, they can merge into the main branch if they wish.

            </p>
        </div>
        <div class="column" style="background-color:#96D1CD;">
            <h2>Pictures!</h2>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/docker_banner.jpeg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
            <p>
                .
            </p>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/docker_banner.jpeg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
            <p>
                .
            </p>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/docker_banner.jpeg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
        </div>

    </div>

    </div>

    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    </body>
    </html>

{% endblock %}