{% extends "base.html" %}
{% block content %}
    Git
    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">

        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

            <title>This is {{ 'Yoshis' }} Website</title>
        {% endblock %}
        <style>
            {
                box-sizing: border-box
            ;
            }
            /* Set additional styling options for the columns*/
            .column {
                float: left;
                width: 50%;
            }

            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
    </head>
    <body>
    <div class="row">
        <div class="column" style="background-color:#FFB695;">
            <h2>Git Explanations</h2>
            <p>
                Branch
            </p>
            <p>
                A Git branch lists the user's project branches. The branch that is highlighted designates the branch
                that is currently in use. A user can type and develop code on a branch. This is a great way for users to
                make
                edits in a code program without damaging the finished project. It is generally advised for users not to
                work on
                the master branch (main branch). It is advised to work on a new branch and merge to the master once
                everything
                is confirmed as working.
            </p>
            <p>
                Merge
            </p>
            <p>
                Merge allows a user to integrate a branch with code into a another branch of code. Once the desired code
                is
                written on a branch, a user must click on the branch they wish to merge with and click merge. The
                current branch
                will be updated to reflect the merge. The target branch will remain unchanged. Only the merged branch
                will
                change.
            </p>
            <p>
                Commit
            </p>
            <p>
                Git Commit command takes all the code of the current project. The git command allows a user to save work
                at a
                current time frame. However, it does not make any actual changes to the project. It is a version of the
                project
                that can serve as a checkpoint. If a coder decides to add more code to the project but would like to
                revert to a
                past version, they can revert to the past version since they executed a git commit command previously.
            </p>
            <p>
                Tags
            </p>
            <p>
                Git Tags give coders the ability to have reference points in their Git History. They are used to create
                the
                versions of a code project. For example, if one version of a website is released to the public, they can
                use a
                git tag to mark it as "Version 1". If a coder would like to update the website and release an updated
                version of
                the website, they can create a new git tag and name it "Version 2".
            </p>
            <p>
                Repositories
            </p>
            <p>
                A Git Repository is known as the .git/folder for a project. The repository is what tracks all the
                changes made
                in a project. A coder must work on a branch, merge the branch to the main branch if they wish and then
                commit
                the work. Once work is committed, they can push the work into the repository. Many times, coders will
                commit and
                push a branch they are working on and check if the code in the repository is working correctly. Once
                they
                confirm the code is working in the repository, they can merge into the main branch if they wish.

            </p>
        </div>
        <div class="column" style="background-color:#96D1CD;">
            <h2>Pictures!</h2>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/git_logo.jpeg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
            <p>
                .
            </p>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/git_logo.jpeg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
            <p>
                .
            </p>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/git_logo.jpeg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
        </div>

    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    </body>
    </html>

{% endblock %}