{% extends "base.html" %}
{% block content %}
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>This is {{ 'Yoshis' }} Website</title>
    {% endblock %}
    <style>
        {
            box-sizing: border-box
        ;
        }
        /* Set additional styling options for the columns*/
        .column {
            float: left;
            width: 50%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
    </head>
    <body>
    <div class="row">
        <div class="column" style="background-color:#FFB695;">
            <h2>Object Oriented Programming Glossary</h2>
            <p>
            <h3>Terms & Definitions</h3>
            </p>
            <p>
                <b>Object:</b> In object-oriented programming, an object can be considered an instance of a particular
                class. Furthermore, an object consists of a state and a behavior. A state can be considered the
                adjective-type attribute of an object. For example, a dog has a name(State 1) and a color(State 2). A
                behavior can be considered the verb-type attribute of an object. For example, a dog can bark(Behavior 1)
                and can fetch(Behavior 2). You can refer to the following link for further information:
                https://docs.oracle.com/javase/tutorial/java/concepts/object.html
                <br><br><b>Instantiation:</b>Creation of an object. You can refer to the following link for further
                information: https://www.techopedia.com/definition/26857/instantiate
                <br><br><b>Class:</b> A class is a blueprint for creating objects. They can provide initial values for a
                state (considered member variables or attributes). They can provide implementations of behaviors
                (considered member functions or methods). A class is a way of organizing information about a type of
                data so a programmer can reuse elements when making multiple instances of that data type. It is an
                example of encapsulation which will be discussed in further detail later. You can refer
                to the following link for further information: https://brilliant.org/wiki/classes-oop/
                <br><br><b>Namespace:</b> Creates a name for objects of various kinds. It allows for objects to have
                unique names for proper identification. You can refer to the following link for further information:
                https://en.cppreference.com/w/cpp/language/namespace
                <br><br><b>Constructor:</b> A method of a class or structure that initializes the creation of an object.
                The constructor is called automatically when an object is created. It can be used to se the values of
                the members of an object. You can refer to the following link for further information:
                https://www.techopedia.com/definition/5656/constructor
                <br>
            </p>
        </div>
        <div class="column" style="background-color:#96D1CD;">
            <h2>Pictures!</h2>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/github_banner.png') }}" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
            <p>
                .
            </p>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/github_banner.png') }}" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
            <p>
                .
            </p>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/github_banner.png') }}" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
        </div>
    </div>


    </body>
    </html>

{% endblock %}