{% extends "base.html" %}
{% block content %}
        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

            <title>This is {{ 'Yoshis' }} Website</title>
        {% endblock %}
        <style>
            {
                box-sizing: border-box
            ;
            }
            /* Set additional styling options for the columns*/
            .column {
                float: left;
                width: 50%;
            }

            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
    </head>
    <body>
    <div class="row">
        <div class="column" style="background-color:#FFB695;">
            <h2>Object Oriented Programming Glossary</h2>
            <p>
                Summary
            </p>
            <p>
                This project has GitHub actions integrated into the code. There are two github work flows that are set
                up in the project:
                <br>dev.yml
                <br>prod.yml
                <br>When writing code on a branch, a user can commit and push their code into a github repository. The
                Github repository will receive a pull request. The user must accept the pull request in Github. There
                will be a test that runs to check if everything is correct. Once it the code is validated and confirmed
                as correct, the pull request will be completed. Simultaneously, the code will be deployed into a Heroku
                dummy app for testing. The user can then merge the pull request into the main branch if they wish. Once
                the request is merged, the user can rebase the code onto the main branch in their local coding software.
                Simultaneously, the code will be deployed into the final product application in Heroku.
            </p>
        </div>
        <div class="column" style="background-color:#96D1CD;">
            <h2>Pictures!</h2>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/github_banner.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
            <p>
                .
            </p>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/github_banner.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
            <p>
                .
            </p>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/github_banner.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
        </div>
    </div>


    </body>
    </html>

{% endblock %}