{% extends "base.html" %}
{% block content %}
    Home

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>This is {{ 'Yoshis' }} Website</title>
    {% endblock %}

    </head>
    <body>
    <div class="container">
        <div class="row">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='images/git_logo.jpeg' ) }}"
                             class="d-block w-100"
                             alt="..."/>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/docker_banner.jpeg') }}" class="d-block w-100"
                             alt="..."/>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/python_flask_logo.jpeg') }}"
                             class="d-block w-100" alt="..."/>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/github_banner.png') }}" class="d-block w-100"
                             alt="..."/>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/git_logo.jpeg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Git</h5>
                        <p class="card-text">Overview of what Git is and how it is used in coding.</p>
                        <a href="/git" class="btn btn-primary">Click here :)</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/docker_banner.jpeg') }}" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Docker</h5>
                        <p class="card-text">Overview of how Docker is integrated into the coding world.</p>
                        <a href="/docker" class="btn btn-primary">Click here :)</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/python_flask_logo.jpeg') }}" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Python & Flask</h5>
                        <p class="card-text">Summary of how Python and Flasks work in coding.</p>
                        <a href="/python_flask" class="btn btn-primary">Click here :)</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/github_banner.png') }}" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Continuous Integration & Deployment</h5>
                        <p class="card-text">Overview of how Github enables coders to perform continuous integration and
                            deployment</p>
                        <a href="/contid" class="btn btn-primary">Click here :)</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>

{% endblock %}