{% extends "base.html" %}
{% block content %}
    Python and Flask

        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

            <title>This is {{ 'Yoshis' }} Website</title>
        {% endblock %}
        <style>
            {
                box-sizing: border-box
            ;
            }
            /* Set additional styling options for the columns*/
            .column {
                float: left;
                width: 50%;
            }

            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
    </head>
    <body>
    <div class="row">
        <div class="column" style="background-color:#FFB695;">
            <h2>Python and Flask Explanations</h2>
            <p>
                Branch
            </p>
            <p>
                A Git branch lists the user's project branches. The branch that is highlighted designates the branch
                that is currently in use. A user can type and develop code on a branch. This is a great way for users to
                make
                edits in a code program without damaging the finished project. It is generally advised for users not to
                work on
                the master branch (main branch). It is advised to work on a new branch and merge to the master once
                everything
                is confirmed as working.
            </p>
            <p>
                Document Explanations
            </p>
            <p>
                docker-compose.yml: Orchestration file that contains the configuration to develop locally, it
                overrides the Dockerfile to run the flask development server instead of running the gunicorn server that
                is used for hosting on Heroku
                <br>Dockerfile <-File used to create an image to run in a container that runs the program
                <br>App -> Simple_pages -> templates: Shows each HTML file with contents of each page. Pages include:
                <br>About<br>Git<br>Docker<br>Python and Flask<br>Continuous Integration and Deployment
                <br>App - static - css - style.css: Code for the aesthetics of the website such as font.
                <br>App - static - images: shows the pictures in the website
                <br>App - static - templates - base.html: Shows the background code such as bootstrap to set up the
                frame work of the website.
                <br>tests - simple_pages_test.py: shows the tests run to confirm that each page is working.
                <br>Heroku.yml: Connects docker file to the web
                <br>.github - workflows: Contains two workflow files, dev.yml and prod.yml. These documents are used to commit and push code into a dummy app and in to a final finished product app with Heroku.
            </p>
            <p>
                Github Link
            </p>
            <p>
                This is the GitHub Link for this website: <br>https://github.com/yn55/-project1.git
            </p>
            <p>
                Pytest
            </p>
            <p>
                Pytest allows a coder to run a test on their own code to make sure their code works. In this website,
                the following code was used to test the website. The below code test to check if the home page is
                working. If the test reads Home in the home page, the test will pass.
                <br>def test_request_index(client):
                <br>"""This makes the index page"""
                <br>response = client.get("/")
                <br>assert response.status_code == 200
                <br>assert b"Home" in response.data
            </p>
        </div>
        <div class="column" style="background-color:#96D1CD;">
            <h2>Pictures!</h2>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/python_flask_logo.jpeg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
            <p>
                .
            </p>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/python_flask_logo.jpeg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
            <p>
                .
            </p>
            <p>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/python_flask_logo.jpeg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            </p>
        </div>
    </div>

    </body>
    </html>

{% endblock %}